@import url(../../common.css);

/* body{
    background: gray;
}

#wrapper{
    width: 95%;
    background: white;
    margin: 0 auto 0;
}
  

h1{
    background:rgb(218, 181, 20);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-bottom: 2px;
}

h1 span {
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    
}

h2 {
    font-size: 5px;
    color:dimgray;
    background: lightgray;
    text-align: center;
}

.side-menu {
    float:left;
    width: 20%

}

.main-content{
    width: 60%;
    background: lightgray;
    float: left;
    
}

.side-menu > h3 {
    background: rgb(92, 17, 17);
    color: white;
    font-weight: 500;
    padding: 10px
}

.banner{
    float: right;
    width: 20%;
    
   
}

ul>li>a{
    color: black;
    text-decoration: underline;
    padding: 20px;
    margin: 10 5 10;
    font-weight: 500;
    font-size: 10px;
}


  
    

.main-content .title{
    background: navy;
    color: white;
    font-weight: 200;
    font-size: 12px;
    margin: 10px 5px 0;
    padding: 5px;
    font-size: 15px;
}

.main-content .artist {
    margin: 20px 10px 20px;
    color: navy;
    font-weight: bold;
}

.main-content .detail {
    margin:0 10px 15px;
    font-size: 10px;
    padding: 0 0 15px;
}

.banner .all{
    color: gray;
    text-decoration: underline;
    font-size: 20px;
}

footer{
    background: navy;

}

footer address{
    color: white;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    padding: 9px;
} */

/* base layout */
body {
    font-size: 14px;
    background: #aaa;
}

#wrapper {
    width: 60%;
    margin: 0 auto;
    background: #fff;
}

/* header style */
header {
    background: #fa0;
    color: #fff;
    text-align: center;
 }

 header h1 {
    font-size: 8em;
    font-weight: bold;
    padding: 10px;
 }

 header h1 span {
    font-size: 20px;
    display: block;
    margin-top: 10px;
 }

 header .stit {
    background: #ccc;
    color: #333;
    padding: 5px 0;

 }

 /* container style */
 .container > * {
    float: left;
 }

 /* side-menu */
 .container .side-menu {
    width: 25%;
 }

 .container .side-menu h3 {
    font-size: 1.3em;
    font-weight: 700;
    color: #fff;
    background: #900;
    padding: 10px;

 }

 .container .side-menu ul {
    margin-top: 5px;
 }

 .container .side-menu ul li {
    padding: 10px;

 }

 .container .side-menu ul li a {
    font-weight: 700;
    text-decoration: underline;
 }

 .container .side-menu ul li:hover {
    border-bottom: 1px dashed #000;
 }

 /* main-content */
 .container .main-content {
    background: #ddd;
    width: 50%;
    color: #123456;
 }

 .container .main-content .art-piece{
    margin-top: 10px;
    font-size: 1.3em;
    font-weight:bold;
    padding: 10pxx;
 }

 .container .main-content .art-piece .title {
    color: #ddd;
    background: #123456;
    padding: 7px 5px;
 }

 .container .main-content .art-piece .title a:hover{
    text-decoration: underline;
 }

 .container .main-content .art-piece .artist {
    margin: 20px 0;
 }

 .container .main-content .art-piece .detail {
    font-size: 0.7em;
    font-weight: 400;
 }

 /* banner */
 .container .banner {
    width: 25%;
    font-weight: 700;
 }

 .container .banner h3 {
    font-size: 1.7em;
    color: #333;
    padding: 20px 10px;
 }

 .container .banner h3 span,
 .container .banner h3 strong {
    display: block;
    margin-bottom: 10px;
 }

 .container .banner h3 span {
    text-decoration: underline;

 }
 .container .banner h3 .all{
    color: #999;
 }

 .container .banner h3 .love{
    color: #fa0;
 }


 .container .banner .link {
    padding: 0 10px;
 }

 .container .banner .link li {
    margin-bottom: 15px;
 }

 .container .banner .link li a {
    display: block;
    text-decoration: underline;
    margin-bottom: 5px;
    width: fit-content;
 }

 .container .banner .link li span {
    font-weight: 400;
 }

 /* footer */
 footer{
    background: #123456;
    padding: 10px;
    font-weight: 700;
    color: #eee;
    text-align: center;
 }

 footer a {
    text-decoration: underline;
 }